<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RDET.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Colorful</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Plum</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>
    <add name="PC3_Connection" connectionString="XpoProvider=MySql;server=PC3;port=3106;user id=rdet; password=rdet@Serv.23; database=damanecash;persist security info=true;CharSet=utf8;" />
    <add name="PC3_trackerlines_Connection" connectionString="XpoProvider=MySql;server=PC3;port=3106;user id=rdet; password=rdet@Serv.23; database=trackerlines;persist security info=true;CharSet=utf8;" />
    <add name="localhost_damanecash_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=rdet; password=rdet@123.; database=damanecash;persist security info=true;CharSet=utf8;" />
    <add name="PC3_damanecash_Connection" connectionString="XpoProvider=MySql;server=PC3;port=3106;user id=rdet; password=rdet@Serv.23; database=damanecash;persist security info=true;CharSet=utf8;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RDET.My.MySettings>
      <setting name="Server" serializeAs="String">
        <value>PC3</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>rdet</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>rdet@Serv.23</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>3106</value>
      </setting>
      <setting name="AppPass" serializeAs="String">
        <value>123456</value>
      </setting>
    </RDET.My.MySettings>
  </userSettings>
</configuration>